body{
    font-size: 34px;
    margin: 0 10%;
    background-color: rgb(0, 0, 0);
    
}
h3{
    color: rgb(241, 1, 93);
    text-align: center;
}
h1{
    color: aqua;
    text-align: center;
}
a{
    color: whitesmoke;
}


.links{
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}
.links p{
    display: inline-block;
    padding: 10px 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add space between buttons and artist link */
}

.button-container button {
    padding: 10px 20px; /* Adjust button padding for size */
    font-size: 16px; /* Adjust button font size */
}

/* grid */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1000px,1fr));
    gap: 20px;
}
.container {
    border: 3px solid #a9a9aa;
    padding: 10px;
    margin: 10px auto;
  }

.img-wrapper{
    position: relative;
    overflow: hidden;
}
.img-wrapper > img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .desc{
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img,
.img-wrapper > .desc{
    transition: 200ms ease-in-out;
}
/*body stuff*/
p{
    color: rgb(127, 255, 170);

}

.group{
    color: rgb(247, 120, 2);
    text-align: center;
}

/* Monster girls */

.monster-girls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.monster-girls .sherman,
.monster-girls .aya,
.monster-girls .Kearsarge,
.monster-girls .Erie,
.monster-girls .evie {
    position: relative;
    overflow: hidden;
}

.monster-girls .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.monster-girls .image:hover img {
    transform: scale(1.1);
}

.monster-girls .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.monster-girls .image:hover + .desc {
    opacity: 1;
}

/* shipgirls */

/*.shipgirls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}**/
.shipgirls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shipgirls .abyssals,
.shipgirls .iowa,
.shipgirls .Jerzie {
    position: relative;
    overflow: hidden;
}
.shipgirls .image{
    margin: 10px;
}

.shipgirls .image img {
    width: 100%;
    height: 500px;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}

.shipgirls .image:hover img {
    transform: scale(1.1);
}

.shipgirls .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.shipgirls .image:hover + .desc {
    opacity: 1;
}
.shipgirls, .emma-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* pokegirls */

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

/* .pokemon-grid .zard,
.pokemon-grid .pikachan,
.pokemon-grid .chuu,
.pokemon-grid .golbs,
.pokemon-grid .zubs,
.pokemon-grid .hallie {
    position: relative;
    overflow: hidden;
}

.pokemon-grid .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.pokemon-grid .image:hover img {
    transform: scale(1.1);
}

.pokemon-grid .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pokemon-grid .image:hover + .desc {
    opacity: 1;
} */


/* draft ocs*/
.draft-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
.draft-grid .image img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.draft-grid .image:hover img {
    transform: scale(1.1);
}

.draft-grid .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.draft-grid .image:hover + .desc {
    opacity: 1;
}
.draft-grid .Calisto,
.draft-grid .Yoko,
.draft-grid .ashe,
.draft-grid .Alexia,
.draft-grid .Jerzie,
.draft-grid .ally,
.draft-grid .Abby,
.draft-grid .Rei,
.draft-grid .Kassandra,
.draft-grid .evie,
.draft-grid .zoe,
.draft-grid .Stella,
.draft-grid .Serena,
.draft-grid .Soldier,
.draft-grid .Latias{
    position: relative;
    overflow: hidden;
}

/*hanaki pokemon*/

.poke{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
.poke .image img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.poke .image:hover img {
    transform: scale(1.1);
}

.poke .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.poke .image:hover + .desc {
    opacity: 1;
}
.poke .Io{
    position: relative;
    overflow: hidden;
}